body{
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: hidden;
    background: rgb(58, 55, 55);
    text-align: center;
}

/* Circles style */

.circles {
    width: 500px;
    display: flex;
    margin: 0 auto;
    /* flex-direction: column; */
}

.circles .circle{
    width: 25px;
    height: 25px;
    background: #fff;
    border-radius: 50%;
    margin: 2px;
    animation: falling-balls 2s 1.5s linear infinite;
}
.circles .circle.red{
    background: rgb(207, 8, 8);
}
.circles .circle.orange{
    background: rgb(255, 175, 1);
}

/* Boy Head Styles */

.boy__head {
    position: relative;
    width: 200px;
    height: 200px;
    border: 1px solid rgb(224, 184, 5);
    border-radius: 0 15% 50% 50%;
    margin: 0 auto;
}

.boy__head {
    margin-top: 10%;
}


/* Hair styles */



.hair__line {
    width: 100%;
    top: 50px;
    position: absolute;
    border: 1px solid rgb(224, 184, 5);

}

.hair__line.hair {
    top: 0;
    height: 48px;
    border-top-right-radius: 28px;
    background: rgb(224, 184, 5);
}

/* Eyes Style */

.eyes {
    position: absolute;
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 50%;
    top: 80px;
    left: 25px;
}

.eyes:nth-child(1) {
    margin-left: 120px;
}
.eyes:nth-child(3), .eyes:nth-child(5) {
    margin-left: 120px;
}

.eyes.eye__pupil {
    background: #000;
    width: 10px;
    animation: blink-pupil 2s 1.5s ease both infinite;
}

/* Nose Styles */

.nose {
    position: absolute;
    width: 2px;
    height: 35px;
    top: 115px;
    left: 90px;
    border-radius: 3px;
    background: rgb(224, 184, 5);
    transform: rotateZ(18deg);
}

.nose.low__part {
    height: 16px;
    top: 142px;
    left: 94px;
    transform: rotateZ(90deg);
}

.nose.low__part__ball {
    width: 10px;
    height: 10px;
    top: 144px;
    left: 83px;
    border-radius: 50%;
}

.mouth {
    position: absolute;
    top: 150px;
    left: 100px;
    width: 3px;
    height: 40px;
    background: rgb(224, 184, 5);
    transform: rotateZ(80deg);
    border-radius: 50%;
}

@keyframes blink-pupil {
    from { transform: translateX(0); }
    to { transform: translateX(10px); }
}

@keyframes falling-balls {
    from { transform: translateY(-200px);}
    to { transform: translateY(1200px);}
}